.about-section {
  background-color: rgb(245, 245, 245);  
  color: black;
  padding: 6rem 1.5rem;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.about-section:hover {
  background-color: rgb(238, 238, 238); 
}

.about-section .about-container {
  max-width: 50rem;  
  text-align: center;
  padding: 0 1rem;
}

.about-section h2 {
  font-size: 2.5rem;        
  font-weight: 700;
  color: #00032c;
  margin-bottom: 1rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.about-section p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  color: #1a1a1a; 
}

.about-section span.font-semibold {
  font-weight: 600;
  color: #b48b18;
  text-decoration: underline dotted #b48b18; 
}

.about-section span.font-medium {
  font-weight: 500;
  color: #00032c;
}

.about-video {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 20px; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease;
}

.about-video:hover {
  transform: scale(1.02); 
}

.about-video-element {
  width: 100%;
  max-width: 850px;
  border-radius: 20px;
  display: block;
}
